<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %>
<body style="background-color: cornflowerblue;">
    <% if (locals.user) {%>
        <h2>Lista libri di <%= user[0].name%> </h2>
        <% books.forEach(book => { %>
            <h2><%= book.name %></h2>
        <% }) %>

        <% } %>
</body>
</html>
